@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-body{
  background: #F3F4FB;
}
.bg-network{
  background: url(/images/back-network.png) top right no-repeat;
}